* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  color: white;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.one {
  background-image: linear-gradient(
      45deg,
      rgba(22, 31, 43, 0.5) 0%,
      rgba(22, 31, 43, 0.5) 12.5%,
      rgba(53, 28, 54, 0.5) 12.5%,
      rgba(53, 28, 54, 0.5) 25%,
      rgba(83, 25, 65, 0.5) 25%,
      rgba(83, 25, 65, 0.5) 37.5%,
      rgba(114, 22, 76, 0.5) 37.5%,
      rgba(114, 22, 76, 0.5) 50%,
      rgba(144, 20, 86, 0.5) 50%,
      rgba(144, 20, 86, 0.5) 62.5%,
      rgba(175, 17, 97, 0.5) 62.5%,
      rgba(175, 17, 97, 0.5) 75%,
      rgba(205, 14, 108, 0.5) 75%,
      rgba(205, 14, 108, 0.5) 87.5%,
      rgba(236, 11, 119, 0.5) 87.5%,
      rgba(236, 11, 119, 0.5) 100%
    ),
    linear-gradient(
      135deg,
      rgb(188, 0, 159) 0%,
      rgb(188, 0, 159) 12.5%,
      rgb(173, 4, 150) 12.5%,
      rgb(173, 4, 150) 25%,
      rgb(158, 7, 141) 25%,
      rgb(158, 7, 141) 37.5%,
      rgb(143, 11, 132) 37.5%,
      rgb(143, 11, 132) 50%,
      rgb(129, 15, 124) 50%,
      rgb(129, 15, 124) 62.5%,
      rgb(114, 19, 115) 62.5%,
      rgb(114, 19, 115) 75%,
      rgb(99, 22, 106) 75%,
      rgb(99, 22, 106) 87.5%,
      rgb(84, 26, 97) 87.5%,
      rgb(84, 26, 97) 100%
    );
}
.two {
  background-image: linear-gradient(
      206deg,
      rgba(72, 45, 45, 0.46) 0%,
      rgba(72, 45, 45, 0.46) 14.286%,
      rgba(102, 42, 45, 0.46) 14.286%,
      rgba(102, 42, 45, 0.46) 28.572%,
      rgba(131, 39, 44, 0.46) 28.572%,
      rgba(131, 39, 44, 0.46) 42.858%,
      rgba(161, 36, 44, 0.46) 42.858%,
      rgba(161, 36, 44, 0.46) 57.144%,
      rgba(191, 33, 43, 0.46) 57.144%,
      rgba(191, 33, 43, 0.46) 71.43%,
      rgba(220, 30, 43, 0.46) 71.43%,
      rgba(220, 30, 43, 0.46) 85.716%,
      rgba(250, 27, 42, 0.46) 85.716%,
      rgba(250, 27, 42, 0.46) 100.002%
    ),
    linear-gradient(
      127deg,
      rgb(254, 36, 223) 0%,
      rgb(254, 36, 223) 14.286%,
      rgb(227, 44, 210) 14.286%,
      rgb(227, 44, 210) 28.572%,
      rgb(201, 52, 198) 28.572%,
      rgb(201, 52, 198) 42.858%,
      rgb(174, 60, 185) 42.858%,
      rgb(174, 60, 185) 57.144%,
      rgb(147, 67, 172) 57.144%,
      rgb(147, 67, 172) 71.43%,
      rgb(121, 75, 160) 71.43%,
      rgb(121, 75, 160) 85.716%,
      rgb(94, 83, 147) 85.716%,
      rgb(94, 83, 147) 100.002%
    );
}
.three {
  background-image: linear-gradient(
      45deg,
      rgba(254, 246, 210, 0.53) 0%,
      rgba(254, 246, 210, 0.53) 14.286%,
      rgba(221, 240, 216, 0.53) 14.286%,
      rgba(221, 240, 216, 0.53) 28.572%,
      rgba(188, 233, 223, 0.53) 28.572%,
      rgba(188, 233, 223, 0.53) 42.858%,
      rgba(156, 227, 229, 0.53) 42.858%,
      rgba(156, 227, 229, 0.53) 57.144%,
      rgba(123, 220, 235, 0.53) 57.144%,
      rgba(123, 220, 235, 0.53) 71.42999999999999%,
      rgba(90, 214, 242, 0.53) 71.43%,
      rgba(90, 214, 242, 0.53) 85.71600000000001%,
      rgba(57, 207, 248, 0.53) 85.716%,
      rgba(57, 207, 248, 0.53) 100.002%
    ),
    linear-gradient(
      135deg,
      rgb(246, 99, 200) 0%,
      rgb(246, 99, 200) 12.5%,
      rgb(223, 98, 196) 12.5%,
      rgb(223, 98, 196) 25%,
      rgb(199, 97, 192) 25%,
      rgb(199, 97, 192) 37.5%,
      rgb(176, 96, 188) 37.5%,
      rgb(176, 96, 188) 50%,
      rgb(152, 95, 184) 50%,
      rgb(152, 95, 184) 62.5%,
      rgb(129, 94, 180) 62.5%,
      rgb(129, 94, 180) 75%,
      rgb(105, 93, 176) 75%,
      rgb(105, 93, 176) 87.5%,
      rgb(82, 92, 172) 87.5%,
      rgb(82, 92, 172) 100%
    );
}
.four {
  background-image: linear-gradient(
      217deg,
      rgba(249, 182, 202, 0.5) 0%,
      rgba(249, 182, 202, 0.5) 14.286%,
      rgba(235, 169, 206, 0.5) 14.286%,
      rgba(235, 169, 206, 0.5) 28.572%,
      rgba(220, 157, 210, 0.5) 28.572%,
      rgba(220, 157, 210, 0.5) 42.858%,
      rgba(206, 144, 214, 0.5) 42.858%,
      rgba(206, 144, 214, 0.5) 57.144%,
      rgba(192, 131, 217, 0.5) 57.144%,
      rgba(192, 131, 217, 0.5) 71.43%,
      rgba(177, 119, 221, 0.5) 71.43%,
      rgba(177, 119, 221, 0.5) 85.716%,
      rgba(163, 106, 225, 0.5) 85.716%,
      rgba(163, 106, 225, 0.5) 100.002%
    ),
    linear-gradient(
      108deg,
      rgb(184, 35, 128) 0%,
      rgb(184, 35, 128) 14.286%,
      rgb(190, 62, 123) 14.286%,
      rgb(190, 62, 123) 28.572%,
      rgb(197, 88, 117) 28.572%,
      rgb(197, 88, 117) 42.858%,
      rgb(203, 115, 112) 42.858%,
      rgb(203, 115, 112) 57.144%,
      rgb(209, 142, 107) 57.144%,
      rgb(209, 142, 107) 71.43%,
      rgb(216, 168, 101) 71.43%,
      rgb(216, 168, 101) 85.716%,
      rgb(222, 195, 96) 85.716%,
      rgb(222, 195, 96) 100.002%
    );
    flex-direction: column;
}
a{
    text-decoration: none;
}
