* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  color: white;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.one {
  background-color: #f2e2c4;
  color: black;
}
.two {
  background-color: #0d0000;
}
.three {
  background-color: #59533f;
}
.four {
  color: black;
  background-color: #f2ebc4;
}
